* {
  --color-dark-blue: #09092d;
  --color-white: #f2f1ed;
  --color-light-blue: #393781;
  --color-pink: #f4bba4;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* color: var(--color-white); */
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(130px, 220px) 1fr;
  grid-template-rows: 60px 1fr;
  overflow-x:hidden;
}

header {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: var(--color-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--color-white);
}

main {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgba(130, 80, 80, 0.511);
}

aside {
  color: var(--color-dark-blue);
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  font-size: 1.3rem;
  grid-column: 1/2;
  grid-row: 2/3;
  border-right: 1px solid var(--color-dark-blue);
}
.project-creator {
  border: none;
  border: 2px solid var(--color-dark-blue);
  font-size: 1.4rem;
  border-radius: 16px;
  height: 30px;
  width: 180px;
  margin: 10px 0;
  padding-left: 5px;
}
.project-creator:focus {
  background-color: var(--color-white);
  outline: none;

}

.projects {
  margin-left: 5px;
  grid-column: 2/3;
  /* height: 100%; */
}
.project_list {
    display: grid;
    gap: 8px;
    
}
.project_list_item {
  display: grid;
  padding: 3px;
  grid-template-columns: 1fr 60px;
  transition: background-color all 0.1s;
}
.project_list_item:hover{
    cursor: pointer;
    background-color:rgba(0, 0, 255, 0.052);
}
.project_input {
  cursor: pointer;
}

.active_project {
    background-color: rgba(0, 0, 255, 0.052);
  border-bottom: 3px solid var(--color-dark-blue );
  border-top: 3px solid var(--color-dark-blue );
  font-weight: bold;
}
.delete_project_btn{
    border: none;
    border-radius: 10px;
    border-bottom: 3px solid var(--color-dark-blue);
height: 25px;
font-size: 1.1rem;
background-color: var(--color-pink);

}
.delete_project_btn:hover{
    cursor: pointer;
    background-color:var(--color-white) ;
}
main{
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: 15px 1fr 10px;
    grid-template-rows: 10px 70px 1fr;
    color: var(--color-dark-blue);
}
.add_todo{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    /* border-bottom: 4px solid var(--color-dark-blue) ; */
    box-shadow: 3px 5px 5px var(--color-dark-blue);
    grid-column: 2/3;
    grid-row: 2/3;
    height: 56px;
    width: 100%;
    font-size: 3rem;
    background-color: var(--color-pink);
    padding: 4px;
    font-weight: bold ;
    transition: all .2s;
}
.add_todo:hover{
    cursor: pointer;
    box-shadow: 3px 5px 15px var(--color-dark-blue);
    
}
.todos{
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    gap: 10px;
    grid-auto-rows: 120px;
}
.note {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  border: 3px solid var(--color-dark-blue);
  font-size: 1.5rem;
  border-radius: 10px;
  justify-items: center;
  align-content: center;
  background-color:rgba(0, 0, 255, 0.052);
}
.note_title{
    margin-bottom: 10px;
    font-weight: bold;
}
.note_description{
    margin-bottom: 10px;
}
.delete_todo_btn{
    background-color: var(--color-pink);
    height: 40px;
    width: 80px;
    border: 2px solid red;
    border-radius: 16px;
    opacity: 0.8;
    font-size: 1.1rem;
}
.delete_todo_btn:hover{
    cursor: pointer;
    font-size: 1.2rem;
opacity: 1;
}

#dialog {
  position: absolute;
  height: 200px;
  width: 400px;
  top: 250px;
  left: 550px;
  padding: 30px;
}

#dialog::backdrop {
  background: rgba(0, 0, 0, 0.696);
}
