*{
    --color-dark-blue: #09092d;
    --color-white: #f2f1ed;
    --color-light-blue: #393781;
    --color-pink: #f4bba4;
    margin: 0;
    padding: 0;
    color: var(--color-white);
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(130px, 220px) 1fr;
    grid-template-rows: 60px 1fr;
}

header{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: var(--color-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

main{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgba(130, 80, 80, 0.511);
}

aside{
    background-color: rgba(114, 195, 114, 0.567);
    grid-column: 1/2;
    grid-row: 2/3;
}
.note{
 border: 5px dashed black;
 font-size: 1.5rem;
 border-radius: 10px;
 padding: 15px;
 margin:10px;
}

#dialog{
    position: absolute;
    height: 200px;
    width: 400px;
    top: 250px;
    left: 550px;
    padding: 30px;


}

#dialog::backdrop{
    background: rgba(0, 0, 0, 0.696);
}

.projects{
    margin-left: 10px;
    /* height: 100%; */
}
.project_list{
    /* height: 100%; */
}
.project_input{
    cursor: pointer;
}

.active_project{
    background-color: rgb(169, 65, 65);
}